* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --cards-color: #333;
  --header-footer: #343a40;
  --article-color: #f8f9fa;
  --link-color: #1d7bda;
  --main-color: #f53145;
  --dark-gray: #d3d3d3;
}

body {
  background-color: #f8f9fa;
}
